############################
# 1) 配置与密钥（不要提交）
############################
.env
.env.*            # 如 .env.local / .env.dev（如需保留示例文件可单独放开）
!.env.example     # 保留示例文件（如果你有）


node_modules/


############################
# 2) Python 运行产物 / 缓存
############################
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
pip-wheel-metadata/
dist/
build/
*.egg-info/
.eggs/
.venv/
venv/
ENV/
env/



